#help-button-popup {
    display: none;
}

.help-button {
    color: white;
    border-radius: 2px;
    padding: 7px 10px;
    border: 1px solid #ababab;
    font-size: 14px;
    color: #444;
    background-color: #a4fcc5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: fixed;
    top: 3px;
    left: 3px;
    z-index: 1501;
}

.help-popup p {
    font-size: 14px;
}

.acc-container {
    width:90%;
    margin:30px auto 0 auto;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -o-border-radius:8px;
    border-radius:8px;
    overflow:hidden;
    text-align: left;
}

.acc-btn { 
    width:100%;
    margin:0 auto;
    padding:20px 25px;
    cursor:pointer;
    background:#34495E;
    border-bottom:1px solid #2C3E50;
}

.acc-content {
    height:0px;
    width:100%;
    margin:0 auto;
    overflow:hidden;
    background:#2C3E50;
}

.acc-content-inner {
    padding:30px;
}

.acc-container .open {
    height: auto;
}

.acc-container h4 {
    /*font:700 20px/26px 'Lato', sans-serif;*/
    color:#ffffff;
}

.acc-container p { 
    /*font:400 16px/24px 'Lato', sans-serif;*/
    color:#798795;
    font-size: 14px;
}

.acc-container .selected {
    color:#1ABC9C;
}