@import "includes/colors";

.swal2-container {
    z-index: 1502 !important;
}

.swal2-popup {
    
    .swal2-title {
        color: $c08;
    }

    .swal2-confirm.swal2-styled {
        background-color: $c08 !important;
    }

    .swal2-close {
        min-width: auto; /* Fix close button sizing */
    }
}